<div class="stars">
<div class="signup-container">
<div class="signup-form">
    <h2 style="color: black;">Regisztráció</h2>
    <form (ngSubmit)="signup()">
      <div class="form-group">
        <label for="signup-username">Felhasználónév</label>
        <input type="text" id="signup-username" [(ngModel)]="signupUsername" name="signupUsername" required />
      </div>
      <div class="form-group">
        <label for="signup-password">Jelszó</label>
        <input type="password" id="signup-password" [(ngModel)]="signupPassword" name="signupPassword" required />
      </div>
      <button type="submit" [disabled]="!signupUsername || !signupPassword">Regisztráció</button>
      <br>
      <div *ngIf="signupMessage" class="error-message-container">
        <p [ngClass]="{'error': isErrorMessage, 'success': !isErrorMessage}">
          {{ signupMessage }}
        </p>
      </div>
      
      <p style="color: black;">Tanárként regisztrál?<input type="checkbox" name="checkbox" [(ngModel)]="isTeacher"/></p>
 
      <p style="color: black;">Van már fiókod? <a routerLink="/login">Jelentkezz be</a></p>
       
       
       
      </form>
  </div>
</div>
</div>