<app-navbar></app-navbar>
<div class="contact-container">
  <div class="hero-section">
    <h1 class="hero-title">Kapcsolat</h1>
    <p class="hero-subtitle">Kérjük, lépjen kapcsolatba velünk, ha kérdése vagy egyedi igénye van.</p>
  </div>

  <!-- Kapcsolat információk -->
  <div class="content-section">
    <mat-card class="section">
      <h2 class="section-title">Elérhetőségek</h2>
      <div class="contact-info">
        <div class="contact-item">
          <mat-icon>location_on</mat-icon>
          <p class="contact-text">Budapest, Kossuth Lajos utca 12, 1053 Magyarország</p>
        </div>
        <div class="contact-item">
          <mat-icon>phone</mat-icon>
          <p class="contact-text">+36 1 234 5678</p>
        </div>
        <div class="contact-item">
          <mat-icon>email</mat-icon>
          <p class="contact-text">hegyitibor52&#64;gmail.com</p>
        </div>
      </div>
    </mat-card>
  </div>

  <!-- Kapcsolat űrlap -->
  <app-general-email-form></app-general-email-form>
  </div>
